<ion-header [translucent]="true">
  <ion-header [translucent]="true">
    <app-header header="Informações"></app-header>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true" class="background-fade">

  <ion-row style="height: 20px;"></ion-row>


  <ion-row class="icon-row">
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <ion-icon name="information-circle-outline" class="big-icon"></ion-icon>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>


  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Quartos</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  
  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Cozinhas</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Escritórios</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Casas de banho</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Refeitórios</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Pisicinas</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Jardins</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

</ion-content>
