<ion-header [translucent]="true">
  <ion-header [translucent]="true">
    <app-header header="Informações"></app-header>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>
    <ion-row style="height: 60px;" class="ion-align-items-center">
      <ion-col size="10"></ion-col>
    </ion-row>
  </ion-title>

  <ion-row style="height: 30px;"></ion-row>

  <ion-col size="3">
    <ion-avatar>
      <ion-img 
        style="height: 50px; width: 50px;" 
        alt="john" 
        src="/assets/john.png"
      ></ion-img>
    </ion-avatar>
  </ion-col>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Quartos
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Cozinhas
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Escritórios
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Casas de banho
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Refeitórios
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Piscinas
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Jardins
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row style="height: 50px;"></ion-row>


  <ion-row style="height: 50px;"></ion-row>

  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4" >
      <ion-img 
        src="/assets/logoH.png" 
        alt="logo" 
        style="width: 100px;"
      ></ion-img>
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>
</ion-content>
