<ion-header [translucent]="true">
  <ion-header [translucent]="true">
    <app-header header="Perfil"></app-header>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>
    <ion-row style="height: 60px;" class="ion-align-items-center">
      <ion-col size="10"></ion-col>
    </ion-row>
  </ion-title>

  <ion-row style="height: 30px;"></ion-row>

  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4">
      <ion-img 
        src="/assets/john.png" 
        alt="John Jonh" 
        style="max-width: 300px;"
      ></ion-img>
      <ion-text>
        <h2>John</h2>
      </ion-text>
      <ion-text>
        <h2>John@gmail.com</h2>
      </ion-text>
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Settings
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  
  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Modo Escuro
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Notificações
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

    <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Idioma
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Segurança
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Suporte
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px;">
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-label>
          Centro de ajuda
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row style="height: 50px;"></ion-row>


  <ion-row style="height: 50px;"></ion-row>

  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4" >
      <ion-img 
        src="/assets/logoH.png" 
        alt="logo" 
        style="width: 100px;"
      ></ion-img>
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>
</ion-content>

