<ion-header [translucent]="true">
  <ion-header [translucent]="true">
    <app-header header="Perfil"></app-header>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row style="height: 50px;"></ion-row>


  <ion-row class="icon-row">
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <ion-icon name="person-circle-outline" class="big-icon"></ion-icon>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-center">
        <h2 style="font-size: 16px;">Username: {{ username }}</h2>
      </ion-text>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Settings</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  
  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Modo Escuro</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Notificações</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

    <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Idioma</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Segurança</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Suporte</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-button" style="height: 65px; display: flex; align-items: center; justify-content: space-between;">
        <ion-label fill="clear" style="display: flex; align-items: center; text-align: center; width: 100%; justify-content: center;">Centro de ajuda</ion-label>
        <ion-button fill="clear" style="display: flex; align-items: center;">
          <ion-icon name="arrow-forward" color="dark-orange" class="orange-icon" style="margin-left: 5px;"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>

