ion-card.welcome-card {
    border-radius: 15px;
    border-style: solid;
    border-color: #F8A435;
    background-color: white;
    text-align: center;
}

ion-icon.big-icon {
    font-size: 100px;
    width: 100%;
}

ion-col.img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
  }