ion-button.round-button {
    --background: white;
    --background-hover: #dbdbdb;
    --background-activated: #bebebe;
    --background-focused: #bebebe;

    --color: black;

    width: 56px;
    height: 56px;
  
    --border-radius: 50%;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
   
    --ripple-color: rgb(246, 182, 133);
}

ion-card.floors-background {
    border-radius: 5px;
    border-style: solid;
    border-color: #F8A435;
    background-color: white;
    text-align: center;
    box-shadow: none;
}

ion-card.max-width {
    width: 300px;
}

ion-label{
    white-space: nowrap;
    width: 170px;
}
