<ion-card class="floors-background">
  <ion-card-content>
    <ion-item lines="none">
      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <ion-button class="round-button">
            <ion-icon slot="icon-only" name="hammer"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-label>
            <p>{{data}}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>{{descricao}}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>