ion-card.welcome-card {
    border-radius: 15px;
    border-style: solid;
    border-color: #F8A435;
    background-color: white;
    text-align: center;
}

ion-icon.big-icon {
    font-size: 100px;
    width: 100%;
}

ion-icon.centered {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

ion-button.tabs-button {
    --background: #d6d6d48b;
    --background-hover: #9c9c9c;
    --background-activated: #9c9c9c;
    --background-focused: #9c9c9c;

    --color: black;

    width: 140px;
    height: 140px;
  
    --border-radius: 5%;
    --border-color: #F8A435;
    --border-style: solid;
    --border-width: 1px;
   
    --ripple-color: rgb(246, 182, 133);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
    
  }


ion-col.center-text {
    text-align: right;
    padding-top: 24px;
}

ion-col.img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
  }