<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Instruções</ion-title>
  </ion-toolbar>
</ion-header>

<div class="card-spacing"></div>

<ion-content [fullscreen]="true" class="background-fade">
  <ion-row style="height: 100px;">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="card-inst" (click)="toggleCardContent('alertas')">
        <ion-card-content>
          Alertas
        </ion-card-content>
        <ion-card *ngIf="showCardContent === 'alertas'" class="card-inst">
          <ion-card-content>
            Para entrar nos alertas, é necessário clicar no butão com a forma de um sino na página 'Home'(no centro, canto inferior esquerdo).
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="showCardContent === 'alertas'" class="card-inst">
          <ion-card-content>
            Para adicionar novos sensores, é necessário dirigir-se aos alertas, clicar no ícone da notificação cuja descrição
            é a seguinte 'Novo Sensor Adicionado'. Apartir da página a que foi redirecionado basta clicar no butão 'Adicionar Sensor'.
          </ion-card-content>
        </ion-card>
      </ion-card>

      <div class="card-spacing"></div>

      <ion-card class="card-inst" (click)="toggleCardContent('mapas')">
        <ion-card-content>
          Mapas
        </ion-card-content>
        <ion-card *ngIf="showCardContent === 'mapas'" class="card-inst">
          <ion-card-content>
            Para usar os mapas, é necessário clicar no butão com a forma de um mapa na página 'Home'(no centro, canto superior direito).
            Apartir daí é redirecionado para a página 'Mapas', onde pode indicar o piso e obter o mapa correspondente
          </ion-card-content>
        </ion-card>
      </ion-card>

      <div class="card-spacing"></div>

      <div class="card-text">
        Escreva aqui a sua questão para o suporte técnico:
      </div>

      <ion-card class="card-inst" style="height: 50px;">
        <ion-card-content class="card-content">
          Escreva a sua mensagem
        </ion-card-content>
      </ion-card>

      <ion-button expand="full" (click)="enviarDados()">Enviar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>






