ion-card{
    border-style: solid;
    border-color: black;
    border-radius: 1px;
}

ion-icon{
    border-style: solid;
    border-color: var(--ion-color-light-orange);
    border-radius: 25px;
    height: 50px;
    width: 50px;
}
