<ion-content [fullscreen]="true" class="background-fade">
  <div class="image-container">
    <ion-img 
      style="height: 300px; width: 300px;"  
      src="/assets/logo.png"
    ></ion-img>
  </div>

  <!-- Container for the form -->
  <div class="container">
    <!-- Container for email input -->
    <div class="rounded-icon-container">
      <!-- Icon for email -->
      <ion-icon name="mail-outline" class="rounded-icon"></ion-icon>
      <!-- Input for email -->
      <ion-item lines="none" class="rounded-item" color="white">
        <ion-input placeholder="Email" type="text"></ion-input>
      </ion-item>
    </div>

    <!-- Container for username input -->
    <div class="rounded-icon-container">
      <!-- Icon for username -->
      <ion-icon name="person-circle-outline" class="rounded-icon"></ion-icon>
      <!-- Input for username -->
      <ion-item lines="none" class="rounded-item" color="white">
        <ion-input placeholder="Username" type="text"></ion-input>
      </ion-item>
    </div>

    <!-- Container for password input -->
    <div class="rounded-icon-container">
      <!-- Icon for password -->
      <ion-icon name="lock-closed-outline" class="rounded-icon"></ion-icon>
      <!-- Input for password -->
      <ion-item lines="none" class="rounded-item" color="white">
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>
    </div>

    <!-- Button to create account -->
    <ion-button expand="full" shape="round" class="login-button">
      Criar Conta
    </ion-button>

    <!-- Text for creating account -->
    <div class="create-account-text">
      <p> Já tem uma conta? <a href="login">Login</a></p>
    </div>
  </div>
</ion-content>



