<ion-content [fullscreen]="true" class="background-fade">

  <div class="image-container">
    <ion-img 
      style="height: 300px; width: 300px;"  
      src="/assets/logo.png"
    ></ion-img>
  </div>
  

  <div class="container">
    <form [formGroup]="loginForm">
      <div class="rounded-icon-container">
        <ion-icon name="person-circle-outline" class="rounded-icon"></ion-icon>
        <ion-item lines="none" class="rounded-item">
          <ion-input formControlName="username" type="text"></ion-input>
        </ion-item>
      </div>
  
      <div class="rounded-icon-container">
        <ion-icon name="lock-closed-outline" class="rounded-icon"></ion-icon>
          <ion-item lines="none" class="rounded-item">
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
      </div>
  
      <ion-button expand="full" shape="round" class="login-button" (click)="login()">
        Login
      </ion-button>

      <div class="create-account-text">
        <p> Ainda não tem uma conta? <a href="criar-conta">Criar Conta</a></p>
        <p> Esqueceu-se da password? <a href="#">Recuperar</a></p>
      </div>
    </form>
  </div>
  
</ion-content>

