<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row style = "height: 80px;"></ion-row>
    <ion-row>
      <ion-img
        src = "/assets/logo/logo.png"
        alt = "Hotel Chain Logo"
      ></ion-img>
    </ion-row>
    <ion-row style = "height: 30px;"></ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-avatar>
          <ion-img
            src="/assets/icon/account.png"
            alt="account icon"
          ></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="7">
        <ion-input 
          label="Username" 
          labelPlacement="floating" 
          placeholder="Enter Text"
          class="custom"
          ></ion-input>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
