/*
.rounded-icon-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
    background-color: orange;
    margin-bottom: 10px; 
  }
  
  .rounded-icon {
    font-size: 24px;
    margin-right: 8px;
  }
  
  .rounded-item {
    flex-grow: 1;
    border: none;
    padding: 0;
  }
  
  .rounded-item ion-input {
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
  }
  
  
  .confirmar-button {
    --background: orange;
    --color: white;
    max-width: 200px;
    margin-top: 10px; 
  }*/
  