<ion-header [translucent]="true">
  <ion-header [translucent]="true">
    <app-header header="Alertas"></app-header>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row style="height: 30px;"></ion-row>

  <ion-item>
    <ion-select 
      [(ngModel)]="selectedPriority"
      (ionChange)="sortAlertas()"
      justify="space-between" 
      label="Prioridade" 
      placeholder="Prioridade"
      interface="action-sheet"
      style="font-size: larger;"
      cancel-text="Cancelar"
    >
      <ion-select-option value="Alta">Alta</ion-select-option>
      <ion-select-option value="Baixa">Baixa</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-row style="height: 10px;"  class="background" ></ion-row>
  <ion-list>
    <ion-item *ngFor="let alerta of alertas">
      <app-alert-card
        [descricao]="alerta.descricao"
        [data]="alerta.data"
        [prioridade]="alerta.prioridade"
        [icon]="getIcon(alerta)"
        (click)="goToAlertaDetailsPage(alerta)"
      ></app-alert-card>
    </ion-item>
  </ion-list>
</ion-content>
