<ion-header [translucent]="true">
  <ion-header [translucent]="true">
    <app-header header="Alertas"></app-header>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row style="height: 30px;"></ion-row>

  <ion-item>
    <ion-select 
      justify="space-between" 
      label="Prioridade" 
      placeholder="Prioridade"
      interface="action-sheet"
      style="font-size: larger;"
      cancel-text="Cancelar"
    >
      <ion-select-option value="alta">Alta</ion-select-option>
      <ion-select-option value="baixa">Baixa</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-row style="height: 10px;" class="background"></ion-row>
  <app-alert-card descricao="Frigorifíco ligado" data="2022/02/26 14:56:32" prioridade="Alta" icon="help-circle-outline"></app-alert-card>
  <app-alert-card descricao="Frigorifíco Desligado" data="2022/02/26 14:56:32" prioridade="Alta" icon="hammer"></app-alert-card>
</ion-content>
