ion-item.border{
        border-radius: 25px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        background-color: #DA763D;
        text-align: center;
        color: white;
}

ion-row.background{
    border-style: solid;
    border-left: black;
    border-right: black;
    border-width: 1px;
    background-color: #DA763D;
}
