.rounded-icon-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
    background-color: transparent;
  }
  
  .rounded-icon {
    font-size: 24px;
    margin-right: 8px;
  }
  
  .rounded-item {
    flex-grow: 1;
    border: none;
    padding: 0;
  }
  
  .rounded-item ion-input {
    background-color: rgb(245, 151, 73);
    border-radius: 8px;
    padding: 8px;
    color: black;
    text-align: center;
  }

  .login-text {
    text-align: center; /* Centraliza o texto */
  }
  
  .login-text a {
    color: orange; /* Define a cor laranja para o link */
    text-decoration: none; /* Remove a decoração de sublinhado */
  }


  .criar_conta-button {
    --background: orange; /* Define a cor de fundo laranja */
    --color: white; /* Define a cor do texto como branco */
    max-width: 200px; 
    margin: 0 auto;
  }


  
  
  
    
  

  
  
  
  
  
  

  


