

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">criar_conta_info</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>




<div class="container">

  <img src="./assets/logo.png" alt="Imagem">

  <p class="title">Informações Adicionais</p>

  <ion-list>
    <ion-item>
      <ion-label>Gênero</ion-label>
      <ion-toggle slot="end" [(ngModel)]="showList"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="showList">
      <ion-label>Maculino</ion-label>
      <ion-radio slot="end" [(ngModel)]="selectedGender" value="masculino"></ion-radio>
    </ion-item>
    <ion-item *ngIf="showList">
      <ion-label>Feminino</ion-label>
      <ion-radio slot="end" [(ngModel)]="selectedGender" value="feminino"></ion-radio>
    </ion-item>
    <ion-item *ngIf="showList">
      <ion-label>Outro</ion-label>
      <ion-radio slot="end" [(ngModel)]="selectedGender" value="outro"></ion-radio>
    </ion-item>
  </ion-list>
  


  <div class="container">
    <div class="rounded-icon-container">
      <ion-icon name="calendar-outline" class="rounded-icon"></ion-icon>
      <ion-item lines="none" class="rounded-item">
        <ion-input placeholder="Data de Nascimento"></ion-input>
      </ion-item>
    </div>
  
    <div class="rounded-icon-container">
      <ion-icon name="call-outline" class="rounded-icon"></ion-icon>
      <ion-item lines="none" class="rounded-item">
        <ion-input placeholder="Contato"></ion-input>
      </ion-item>
    </div>
  
    <ion-button expand="full" shape="round" class="confirmar-button">
      Confirmar
    </ion-button>
  </div>
  
</div>




