<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title >
      <ion-row class="ion-align-items-center" >
          <ion-col size="2">
              <ion-img src="/assets/logoH.png" alt="logo"></ion-img>
          </ion-col>
          <ion-col size = "1"></ion-col>
          <ion-col size="7" class="title-col">
               Mapas
          </ion-col>
          <ion-col size="2">
            <ion-icon size="large" name="help-circle-outline"></ion-icon>
          </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row style="height: 40px;"></ion-row>

  <ion-title>
    Filtros
  </ion-title>

  <ion-card class="filters-background" >
    <ion-row>
      <ion-col size="4">
            <ion-button class="round-button">
              <ion-icon slot="icon-only" name="business"></ion-icon>
            </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="round-button">
          <ion-icon slot="icon-only" name="radio"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="round-button">
          <ion-icon slot="icon-only" name="construct"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="4" class="filters-text">
        Infraestrutura
      </ion-col>
      <ion-col size="4"  class="filters-text">
        Sensores
      </ion-col>
      <ion-col size="4"  class="filters-text">
        Equipamentos
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row style="height: 30px;"></ion-row>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="7">
      <ion-card class="floors-background" style="height: 50px;">
        <ion-card-content>
          Indique o piso
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="3">
      <ion-card class="floors-background" style="height: 50px;">
        <ion-input 
          [(ngModel)]="floorNumber" 
          (ionInput)="updateFloor()" 
          type="number" 
          [clearOnEdit]="true"
          placeholder="Piso">
        </ion-input>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row style="height: 10px;"></ion-row>

  <ion-card style="height: fixed;">
    <ion-img src="{{floor}}" alt="piso"></ion-img>
  </ion-card>
  
</ion-content>
