.title-col {
    padding-top: unset;
}

ion-col {
   text-align: center;
}

.img-color {
    background-color: white;
    border-radius: 100px;
}

.filters-card {
    border-radius: 25px;
    border-style: outset;
    border-color: black;
    background-color: #DA763D;
}

.white-text{
    color: white;
}