.title-col {
    padding-top: unset;
}

.img-color {
    background-color: white;
    border-radius: 100px;
}

.filters-card {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    background-color: #DA763D;
    text-align: center;
}

.filters-text {
    color: white;
    text-align: center;
}

.floors-card {
    border-radius: 5px;
    border-style: solid;
    border-color: #F8A435;
    background-color: white;
    text-align: center;
}
